<html>
<head>
<title>activity_notification_patient.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(165,194,97); }
.s3 { color: rgb(169,183,198); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_notification_patient.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<a name="l1"><span class="ln">1    </span></a><span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s2">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s2">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s3"> 
<a name="l2"><span class="ln">2    </span></a></span><span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s2">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
<a name="l3"><span class="ln">3    </span></a>    </span><span class="s1">android:layout_width=</span><span class="s2">&quot;fill_parent&quot;</span><span class="s0"> 
<a name="l4"><span class="ln">4    </span></a>    </span><span class="s1">android:layout_height=</span><span class="s2">&quot;50dp&quot;</span><span class="s0"> 
<a name="l5"><span class="ln">5    </span></a>    </span><span class="s1">android:layout_marginTop=</span><span class="s2">&quot;250dp&quot;</span><span class="s0"> 
<a name="l6"><span class="ln">6    </span></a>    </span><span class="s1">android:background=</span><span class="s2">&quot;@null&quot;</span><span class="s0">&gt;</span><span class="s3"> 
<a name="l7"><span class="ln">7    </span></a> 
<a name="l8"><span class="ln">8    </span></a>    </span><span class="s0">&lt;TextView 
<a name="l9"><span class="ln">9    </span></a>        </span><span class="s1">android:layout_width=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
<a name="l10"><span class="ln">10   </span></a>        </span><span class="s1">android:layout_height=</span><span class="s2">&quot;match_parent&quot;</span><span class="s0"> 
<a name="l11"><span class="ln">11   </span></a>        </span><span class="s1">android:background=</span><span class="s2">&quot;@android:color/transparent&quot;</span><span class="s0"> 
<a name="l12"><span class="ln">12   </span></a>        </span><span class="s1">android:gravity=</span><span class="s2">&quot;center|center_horizontal&quot;</span><span class="s0"> 
<a name="l13"><span class="ln">13   </span></a>        </span><span class="s1">android:text=</span><span class="s2">&quot;@string/reminder&quot; </span><span class="s0">/&gt;</span><span class="s3"> 
<a name="l14"><span class="ln">14   </span></a> 
<a name="l15"><span class="ln">15   </span></a> 
<a name="l16"><span class="ln">16   </span></a></span><span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>