<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appointment.booking.com.heathfield">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!-- permission required to Send SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <permission
        android:name="appointment.booking.com.heathfield.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="appointment.booking.com.heathfield.permission.C2D_MESSAGE" />

    <application
        android:name="appointment.booking.com.support.AppParse"
        android:allowBackup="true"
        android:icon="@drawable/icon_doctorr"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="appointment.booking.com.Doctor.Doctor_Content.DoctorLogin"
            android:label="@string/title_activity_doctor_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"></activity>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/icon_doctor" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="appointment.booking.com.heathfield" />
            </intent-filter>
        </receiver>

        <service android:name="com.parse.PushService" />
        <service
            android:name="appointment.booking.com.support.AlarmService"
            android:enabled="true" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="appointment.booking.com.heathfield" />
            </intent-filter>
        </receiver>

        <activity
            android:name="appointment.booking.com.patient.PatientLogin"
            android:label="@string/title_activity_patient_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Doctor.Doctor_Content.Doctor_Appointments"
            android:label="@string/title_activity_doctor_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Doctor.Doctor_Content.Doctor"
            android:label="@string/title_activity_doctor_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.patient.PatientRegister"
            android:label="@string/title_activity_patient_register"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name="appointment.booking.com.patient.PatientHome"
            android:label="@string/title_activity_patient_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.cancel.PatientCancelActivity"
            android:label="@string/title_activity_patint_main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Prescription.PrescriptionActivity"
            android:label="@string/title_activity_prescription"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Prescription.Prescription_View"

            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.booking.BookingAppointment"

            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.patient.Patient"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.booking.Booking_Appointments_View"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

        <receiver
            android:name="appointment.booking.com.support.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name="appointment.booking.com.Request_Appintment.RequestAppointment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Doctor.Doctor_Content.Confirm_Prescription"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Doctor.Doctor_Content.Confirm_Appointment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Doctor.Doctor_Support.Prescription_Confirmation_View"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.Doctor.Doctor_Support.Appointment_Confirmation_View"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.cancel.History.Appointment_Cancel_History"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.booking.History.Appointment_Booking_History"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="appointment.booking.com.heathfield.PasswordReset"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

    </application>

</manifest>
